.auth {
	font-family: Roboto;

	box-sizing: border-box;
	height: fit-content;
	width: 32vw;
	background-color: #ffffff;
	padding: 0.5vw 3.25vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5vw;
	border-radius: 1.5625vw;
}
.exit {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 1.5vw;
	&__img {
		height: 2.8125vw;
		align-self: flex-end;
		width: 1.5vw;
		cursor: pointer;
	}
}

.condition {
	font-weight: 400;
	text-align: center;
	line-height: 1.4vw;
	font-size: 1.2vw;
}

.entry {
	font-size: 1.4vw;
	font-weight: 700;
	line-height: 2vw;
	text-align: center;
	font-family: Rubik;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1vw;
	&__container {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
	&__label {
		opacity: 0.7;
	}
	&__input {
		width: 20vw;
		height: 2vw;
		border: 2px solid #361d7e;
		border-radius: 5px;
		font-size: 1vw;
		font-weight: 400;
		line-height: 1vw;
		padding-left: 1vw;
		padding-right: 1vw;
		color: #000;

		&::placeholder {
			color: #8c8c8c;
		}
	}
	&__link {
		font-size: 1vw;
		font-weight: 400;
		line-height: 1.5vw;
		text-decoration: none;
		color: #000;
		cursor: pointer;
		text-align: center;
	}
	&__btn {
		padding: 0.7vw 2.2vw;
		width: fit-content;
		background-color: #361d7e;
		color: #fff;
		font-family: Roboto;
		font-size: 1vw;
		font-weight: 400;
		line-height: 1.2vw;
		border-radius: 5px;
		border: none;
		outline: none;
		cursor: pointer;
		&:disabled {
			background-color: #e4d4ff;
			color: #fff;
			cursor: default;
		}
	}
}

.social {
	display: flex;
	flex-direction: column;
	gap: 0.5vw;
	align-items: center;

	&__header {
		font-size: 1vw;
		font-weight: 400;
		line-height: 1.5vw;
	}
	&__container {
		display: flex;
		gap: 1.2vw;
	}

	&__img {
		width: 2vw;
		height: 2vw;
	}
}

.register {
	display: flex;
	flex-direction: column;
	gap: 0.5vw;
	align-items: center;
	&__header {
		font-size: 1vw;
		font-weight: 400;
		line-height: 1.5vw;
	}
	&__link {
		font-size: 1vw;
		font-weight: 700;
		line-height: 1vw;
		letter-spacing: -0.5px;
		text-decoration: none;
		color: #000;
	}
}

.politic {
	font-family: Roboto;
	font-size: 0.8vw;
	line-height: 1vw;

	font-weight: 400;
	text-align: center;
	&__bold {
		border-bottom: 1px solid black;
		cursor: pointer;
	}
}
