.container {
	display: flex;
	flex-direction: column;
	gap: 5px;
	position: relative;
}
.label {
	opacity: 0.7;
}

.link {
	font-size: 1vw;
	font-weight: 400;
	line-height: 1.5vw;
	text-decoration: none;
	color: #000;
	cursor: pointer;
	text-align: center;
}
.btn {
	padding: 0.7vw 2.2vw;
	width: fit-content;
	background-color: #361d7e;
	color: #fff;
	font-family: Roboto;
	font-size: 1vw;
	font-weight: 400;
	line-height: 1.2vw;
	border-radius: 5px;
	border: none;
	outline: none;
	cursor: pointer;
	&:disabled {
		background-color: #e4d4ff;
		color: #fff;
		cursor: default;
	}
}

.remember {
	display: flex;
	gap: 0.5vw;
	align-self: flex-start;
	&__input {
		width: 1vw;
		height: 1vw;
	}
	&__label {
		font-size: 1vw;
		font-weight: 400;
		line-height: 1.2vw;
	}
}
.eye {
	position: absolute;
	right: 0.6vw;
	bottom: 0.6vw;
	cursor: pointer;
}

#inputPassword[type='password'] {
	-webkit-text-security: disc; /* Для Safari */
}

#inputPassword[type='text'] {
	-webkit-text-security: none; /* Для Safari */
}

#inputPassword[type='password'],
#inputPassword[type='text'] {
	width: 100%;
	padding: 10px;
}
