@import '../../styles/variables.scss';

.catalog {
	background-color: $colorInitial;
	padding: 40px 70px;
	&__noProduct {
		margin-bottom: 60px;
		&>div {
			padding: 25px 30px;
		}
	}
	&__title {
		@include fontRoboto(30, 40, 700);
		margin-bottom: 50px;
	}
}