@import '../../styles/variables.scss';
@import '../ui/Button/style.module.scss';

.productDetail {
	display: grid;
	max-width: 869px;
	height: 732px;
	grid-template-columns: minmax(320px, 400px) 20px minmax(300px, 409px);
	grid-template-rows: 72px 71px 58px 71px 130px 20px 55px 75px 20px 120px;
	grid-template-areas:
		'photo . title title'
		'photo . 	. 	.	'
		'photo . price likes'
		'photo . 	. 	.	'
		'photo . chart chart'
		'	. 	. chart chart'
		'button . chart chart'
		'	. 	. chart chart'
		'	. 	. 	. 	.	'
		'descr descr descr descr';
	background-color: $colorWhite;
	border-radius: 10px;
	padding: 20px;
	&__photo {
		grid-area: photo;
		img {
			width: 100%;
		}

	}
	&__title {
		grid-area: title;
	}
	&__price {
		grid-area: price;
	}
	&__additionalInfo {
		grid-area: likes;
	}
	&__priceChart {
		grid-area: chart;
	}
	&__description {
		grid-area: descr;
	}
	&__linkButton {
		grid-area: button;
		@extend .button_main;
		@include textCenter;
		border-radius: 5px;
	}
	&__pricemove {
		&_down {
			&::before {
				rotate: 180deg;
			}
		}
	}
	&__likes {

	}
}

.priceChart {
	&__title {
		@include fontRoboto(24, 30, 500);
	}
}