// @font-face {
// 	src: url('./fonts/Roboto-Bold.ttf') rel="preload";
// 	  font-family: "Roboto-Bold";
// }
.header {
    background-color: #6929F2;
    height: 217px;
    padding: 40px 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo_menu {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.button {
    // width: 155px;
    // height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: linear-gradient(#FFE415, #FD8201);
    display: flex;
    padding: 16px 30px;
    margin-left: 30px;

}

.line {
    height: 2px;
    width: 18px;
    background: #361D7E;
}

.button_logo{
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}

.NavLink{
    text-decoration: none;
    font-family: 'Roboto-Bold', 'Arial', sans-serif;
    font-size: 18px;
    div {
            color: #361D7E;
    }
}

.imgCont{
    margin-top: -3px;
}

.navigation{
    display: flex;
    align-items: center;

}

.MenuLink{
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;

}

.MenuLink:hover {
    .icon{
        display: block;
    }

    .icon_active {
        display: none;
    }
}

.MenuIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;

}

.icon{
    display: none;
    height: 20px;
    margin-bottom: 15px;

}

.icon_active {
    display: block;
    height: 20px;
    margin-bottom: 15px;

}

.input{
    width: 790px;
    height: 54px;
    border-radius: 10px;
    border: 1px solid #361D7E;
    // padding: 5px;
    font-size: 20px;
}

.search {
   display: flex;
   margin-top: 30px;

   div {
    display: flex;
    align-items: baseline;

    div {
        margin-left: -30px;
        // margin-top: 15px;
        height: 20px;
    }
   }

   button {
    width: 150px;
    height: 50px;
    padding-left: 40px;
    font-size: 18px;
    font-family: "Roboto-Bold", 'Helvetica', 'Arial, sans-serif';
   }

   input::placeholder {
    padding: 10px;
   }
}

