.header {
    background-color: #8C67FA;
    // height: 217px;
    padding: 73px 45px;
}

.logo_menu {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.button {
    width: 155px;
    height: 50px;
    background-color: #361D7E;
}

