@font-face {
	src: url('./styles/fonts/Roboto-Bold.ttf') rel="preload";
		font-family: "Roboto-Bold";
	src: url('./styles/fonts/Roboto-Regular.ttf') rel="preload";
		font-family: "Roboto-Regular";
	src: url('./styles/fonts/Rubik-Regular.ttf') rel="preload";
		font-family: "Rubik-Regular";
	src: url(./styles/fonts/Inter-Regular.ttf) rel="preload";
		font-family: "Inter-Regular";
}
html,
body {
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif; */
	font-family: 'Roboto-Regular', 'Helvetica', 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 20px;
	max-width: 1280px;
	margin: 0 auto;
}

/* .wrapper {
       height: 100%;

       display: flex;
       flex-direction: column;
 } */


/* main {
	flex: 1 0 auto;
	/* max-width: 1400px;
  min-width: 700px;
  margin: 0 auto; */


@media screen and (max-width: 360px) {
	html,
	body {
			font-size: 14px;
	}
}
